:root {
  --font-family: "Numans", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BFCABD;
    color: #000000;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    background: rgba(255, 255, 255, 0.64);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    
    padding: 60px 80px;
    width: fit-content;
    margin: 0 auto;
}

.parts-continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: var(--third-family);
    font-weight: 800;
    font-size: 96px;
    line-height: 110%;
    text-align: center;
    margin-bottom: 48px;
    margin-top: 64px;
    max-width: 600px;
}

h3 {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 90%;
    text-align: center;
    color: #FF5B5B;
    margin-bottom: 20px;
    margin-top: 0;
}

.divider {
    color: #BFCABD;
}

span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 120px;
    line-height: 130%;
    text-align: center;
}

.add-btn {
    border-radius: 999px;
    
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 155%;
    text-align: center;
    color: #ffff;
    background-color: #000000;
    
    padding: 5px 0 5px 0;
    margin-top: 24px;
}

.reset-btn {
    border-radius: 999px;
    border: none;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    background-color: gainsboro;
    
    
    padding: 15px 25px 15px 25px;
    margin-top: 30px;
    margin-bottom: 64px;
}



